@import "_utilities";

body {
  font-family: $primary-font;
  letter-spacing: 0.0275em;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  background-color: $blackBg;
  overflow-x: hidden;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  word-break: keep-all;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(9, 9, 29, 0.45);
    height: 100vh;
    min-height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.offcanvas.show{
  visibility: visible;
}

.btn,
input,
textarea,
select {
  box-shadow: none !important;
}

.form-control:focus {
  border-color: $themeClr;
}

header {
  padding: 1.5rem 0;
  background: rgba(15, 15, 15, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s;
  &.scrolled {
    padding: 1rem 0;
    img {
      max-width: 250px;
    }
  }
  .navbar-brand {
    transition: all 0.2s ease-in;
    font-weight: 700;
    &:hover {
      color: $themeClr;
    }
  }
}

.intro-sec {
  h2 {
    color: $white;
    font-weight: 600;
  }
}

.movies-wrapper {
  .intro-sec {
    h5 {
      text-align: center;
      color: $themeClr;
      font-weight: 500;
      animation: scroll 20s linear infinite;
      @keyframes scroll {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
  }
}

.movie {
  padding: 1rem;
  text-align: center;
  background-color: $dark;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  .card-title {
    color: $white;
    padding: 0.5rem;
    margin: 0;
    font-weight: 600;
  }

  .desc {
    background: rgba(41, 41, 41, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 1.5rem;
    position: absolute;
    color: $white;
    max-height: 100%;
    display: grid;
    place-content: center;
    overflow: auto;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  &:hover {
    .desc {
      visibility: visible;
      opacity: 1;
    }
  }
}

.sm-title {
  color: $yl;
  font-weight: 600;
}

//dynamic page css
.dynamic-page {
  #content {
    .poster-img {
      max-width: 100%;
      object-fit: contain;
    }
    .movie-title {
      transition: all 0.2s ease-in;
    }
    iframe {
      width: 100%;
      aspect-ratio: 16/9;
      padding: 0.5rem 0;
    }
    &:hover {
      .movie-title {
        color: $themeClr;
      }
    }
  }
}



.custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050; 
  overflow: hidden;
  &.show {
    display: block;
  }
}

.custom-modal-dialog {
  position: relative;
  pointer-events: none;
  max-width: 1024px; 
  margin: 0.5rem;
  display: flex;
  align-items: center;
  height: calc(100% - 1rem);
  @media (min-width: 576px) {
    height: calc(100% - 3.5rem);
    min-height: calc(100% - 3.5rem);
    margin: 1.75rem auto;
  }
}

.custom-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #252525;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  max-height: 100%;
  overflow: hidden;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd; /* add bottom border for separation */
}

.custom-modal-close {
  font-weight: bold;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: $white;
  background-color: $dangerClr;
  border-radius: 50%;
  &:hover{
    color: $white;
    background-color: #bb2d3b;
  }
}


.custom-modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  overflow: auto;
}

.custom-modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
}


@media (max-width: 768px) {
  .custom-modal-dialog {
    width: 96%; /* adjust width for smaller screens */
  }
}

.tagline{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba($dark, 0.05);
  padding-block: 5px;
  padding-block-start: 4px;
}

.content-main{
  h1, h2, h3, h4, h5, h6{
    color: $white;
  }
  p, strong{
    color: rgba($white, 0.75);
  }
  .logo-wrapper{    
    img{
      background-color: $white;
      height: 40px;
      width: 60px;
      object-fit: contain;
      border-radius: 8px;
    }
  }
}

